www.ramins.net {
    redir https://ramins.net{uri}
}

ramins.net {

    log /usr/local/www/log/ramins.log
    root /usr/local/www/ramins.net 
}

www.sbramin.com {
    redir https://sbramin.com{uri}
} 

sbramin.com {
    log /usr/local/www/log/sbramin.log
    root /usr/local/www/sbramin.com
}

www.arightpigsear.com {
    redir https://arightpigsear.com{uri}
}

arightpigsear.com {
    log /usr/local/www/log/arigtpigsear.log
    root /usr/local/www/arightpigsear.com
}

www.sheprovides.com {
    redir https://sheprovides.com{uri}
}

sheprovides.com {
    log /usr/local/www/log/sheprovides.log
    root /usr/local/www/sheprovides.com
}

www.netachef.com {
    redir https://netachef.com{uri}
}

netachef.com {
    log /usr/local/www/log/netachef.log
    root /usr/local/www/netachef.com
}

www.netacorp.xyz {
    redir https://netacorp.xyz{uri}
}

netacorp.xyz {
    log /usr/local/www/log/netacorp.log
    root /usr/local/www/netacorp.xyz
}

