*.sbramin.com:80 {
    redir https://sbramin.com{uri}
} 

sbramin.com {
        tls mail@sbramin.com
	root /srv/sbramin.com
        git {
	repo github.com/sbramin/www
	path sbramin.com
	}
}

*.ramins.net:80 {
    redir https://ramins.net{uri}
}
ramins.net {
        tls mail@sbramin.com
	root /srv/ramins.net
}

*.arightpigsear.com:80 {
    redir https://arightpigsear.com{uri}
}
arightpigsear.com {
        tls mail@sbramin.com
	root /srv/arightpigsear.com

}

*.sheprovides.com:80 {
    redir https://sheprovides.com{uri}
}
sheprovides.com {
        tls mail@sbramin.com
	root /srv/arightpigsear.com
}

*.netachef.com:80 {
    redir https://netachef.com{uri}
}
netachef.com {
        tls mail@sbramin.com
	root /srv/netachef.com
}
